@model IEnumerable<TimetableApp.Web.Models.SemesterViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Semester" asp-action="Index" method="post">
                    <p>
                        <input type="text" name="search" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Faculty" asp-action="Create" class="btn createButton">
                        <span>Добавить семестр</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterTitle)
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterTitle)
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


