@model TimetableApp.Web.Models.PaginatedList<TimetableApp.Web.Models.TimetableViewModel>
@{
    ViewData["Title"] = "ByClassrooms";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Timetable" asp-action="ByClassrooms" method="post">
                    <p>
                        Номер аудитории: <input type="text" name="searchString" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Timetable" asp-action="Create" class="btn btn-outline-primary">
                        <span>Добавить запись</span>
                    </a>
                </div>
                <br>
            </div>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    @foreach (var item in Model)
                    {
                        @if (item == Model.First())
                        {
                            <th>
                                @Html.DisplayNameFor(model => item.Classroom)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Day)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Bell)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Discipline)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.ActivityType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Group)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Teacher)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.Semester)
                            </th>
                            <th>Действия</th>
                        }

                    }


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Classroom)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Day)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Bell)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Discipline)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ActivityType)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Group)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Teacher)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Semester)
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Timetable" asp-route-id="@item.ID" class="editLabel">Редактирование</a>
                            <a asp-action="Delete" asp-controller="Timetable" asp-route-id="@item.ID" class="deleteLabel">Удаление</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="ByClassrooms"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="ByClassrooms"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>


