@model TimetableApp.Web.Models.PaginatedList<TimetableApp.Web.Models.TimetableViewModel>
@{
    ViewData["Title"] = "ByGroups";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Timetable" asp-action="ByGroups" method="post">
                    <p>
                        Группа: <input type="text" name="searchString" />
                        <label class="control-label">Семестр: </label>
                        <input type="text" name="semester" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <br>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                @foreach (var item in Model)
                {
                    @if (item == Model.First())
                    {
                        <td>
                            @Html.DisplayNameFor(model => item.Group)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Date)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Day)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Bell)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Discipline)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.ActivityType)
                        </td>

                        <td>
                            @Html.DisplayNameFor(model => item.Teacher)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Classroom)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => item.Semester)
                        </td>
                    }

                }


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Group)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Bell)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Discipline)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ActivityType)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Teacher)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Classroom)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Semester)
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <a asp-action="ByGroups"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="ByGroups"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>
</div>


