@model IEnumerable<TimetableApp.Web.Models.TimetableViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Timetable" asp-action="Index" method="post">
                    <p>
                        <input type="text" name="search" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Timetable" asp-action="Create" class="btn createButton">
                        <span>Добавить запись</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DayID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LessonID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisciplineID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityTypeID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeacherID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassroomID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterID)
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DayID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LessonID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DisciplineID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ActivityTypeID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GroupID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TeacherID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassroomID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SemesterID)
                    </th>
                    <th>
                        <a asp-action="Update" asp-controller="Timetable" asp-route-id="@item.ID" class="editLabel">Редактирование</a>
                        <a asp-action="Delete" asp-controller="Timetable" asp-route-id="@item.ID" class="deleteLabel">Удаление</a>
                    </th>
            }
                </tbody>
            </table>
        </div>
    </div>


