@model IEnumerable<TimetableApp.Web.Models.BuildingViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Building" asp-action="Index" method="post">
                    <p>
                        <input type="text" name="search" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Building" asp-action="Create" class="btn createButton">
                        <span>Добавить запись</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BuildingID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BuildingName)
                    </th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.BuildingID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BuildingName)
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Building" asp-route-id="@item.BuildingID" class="editLabel">Редактирование</a>
                            <a asp-action="Delete" asp-controller="Building" asp-route-id="@item.BuildingID" class="deleteLabel">Удаление</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


