@model TimetableApp.Web.Models.ClassroomViewModel
@{ ViewBag.Title = ""; }

<h3>Are you sure you want to <strong>delete this classroom</strong>?</h3>

<div class="alert alert-secondary" role="alert">
    <p><strong>@Html.LabelFor(e => e.ClassroomNumber): </strong>@Model.ClassroomNumber</p>
    <p><strong>@Html.LabelFor(e => e.BuildingID): </strong>@Model.BuildingID</p>
    <p><strong>@Html.LabelFor(e => e.NumberOfSeats): </strong>@Model.NumberOfSeats</p>
    <p><strong>@Html.LabelFor(e => e.ClassroomTypeID): </strong>@Model.ClassroomTypeID</p>
</div>
<div>
    @Html.ActionLink("Delete", "ConfirmDelete", "Classroom", new { id = Model.ClassroomID, }, new { @class = "btn btn-outline-danger" })
</div>
<br />
<div>
    <a asp-action="Index">Назад</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}