@model TimetableApp.Web.Models.PaginatedList<TimetableApp.Web.Models.ClassroomViewModel>
@using TimetableApp.Web.Models
@{
    ViewData["Title"] = "Index";
}
@*подключаем все tag-хелперы*@
@addTagHelper *, TimetableApp.Web
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div>
                <form asp-controller="Classroom" asp-action="Index" method="post">
                    <p>
                        <input type="text" name="search" />
                        <input type="submit" value="Поиск" class="searchButton" />
                    </p>
                </form>
                <div>
                    <a asp-controller="Classroom" asp-action="Create" class="btn createButton">
                        <span>Добавить запись</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    @foreach (var item in Model)
                    {
                        @if (item == Model.First())
                        {
                            <th>
                                @Html.DisplayNameFor(model => item.ClassroomNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.BuildingID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.NumberOfSeats)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => item.ClassroomType)
                            </th>
                            <th>Действия</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(model => item.ClassroomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BuildingID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.NumberOfSeats)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.ClassroomType)
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="Classroom" asp-route-id="@item.ClassroomID" class="editLabel">Редактирование</a>
                            <a asp-action="Delete" asp-controller="Classroom" asp-route-id="@item.ClassroomID" class="deleteLabel">Удаление</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    </div>
</div>




